div {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    /*background-color: rgba(255, 0, 1, 5);*/
    
    
}

#box1 {
    background-color: rgba(255, 6, 7, 0.5);
    
}