div {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid blue;
    /*border-radius: 30%;*/
    /*padding-bottom: 65px ;
    padding-bottom: 65px;*/
    padding: 25px;
    margin-top: 50px ;


