div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    background-image: url("image.1.jpg");
    background-size: cover;
    /*background: auto;*/
   /* background-size: contain;
    background-repeat: no-repeat;*/
}

    
