body{
    text-align: center;

}
div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap;*/
    align-items: flex-start;
    /*align-content: center;*/
    /*align-content: flex-end;*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
   /* flex-wrap: wrap-reverse;*/
    /*align-items: center;*/
    /*align-content: flex-start;*/
    /*align-content: flex-end;*/
}

#box1{
    background-color: aqua;
    flex-grow: 1;

}
#box2{
    background-color: blue;
    height: 200px;
    /*flex-shrink: 2;*/
    /*flex-shrink: 0.5;*/
    /*flex-shrink: 0;*/
    flex-grow: 2;
}
#box3{
    background-color: brown;
}
#box4{
    background-color: bisque;
}
#box5{
    background-color: rgb(146, 146, 179);
}